*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
  
}

.clear{
    clear: both;
}
.body{
    display: inline-block;
}

.header1{
    background-color:#f8e1db ;
}
.header{
    background-color: #f8e1db;
    /* margin: 10px 0 0 40px; */
}

.header li{
/* xóa dấu chấm trước */    
    list-style:none;
    display: inline;
    padding: 0 50px 20px 0 ;

}
.header ul{
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.header a{
/* xóa dấu gạch chân */
    text-decoration: none;
}

img.logo{
    margin-left: 30px;
}

.slider{
    background-image: url(./pic/BG.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position:bottom center;
    background-color: hsla(89, 43%, 51%, 0.3);
    /* khi gọi background ko có chiều cao thì nó sẽ không hiện ra
    background-size:contain thì hình ảnh sẽ giữ được đúng kích thước*/
}

.activities{
    padding: 50px 0 0 20px;
    text-align: center;
    background-color:#f8e1db  ;
    
}

.activities p {
    font-size: 25px;
    color: #8d8d8d;
    font-weight: 1000;
}

.card{
    text-align: center;
}

div.item{
    padding: 30px 30px 30px  30px;
    background-color: #cbc8c8;
    border-radius: 10px;
}

div.items{
    padding: 20px 0 0 20px;
    background-color: red;
}

.btn{
    width: 200px;

}

.icon_hinh{
    position: relative;
}

.image-container {
    position: relative;
  }
  
  .icon {
    position: absolute;
    right: 0;
    top: 0px; /* or bottom: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #f00;
    color: #fff;
    border-radius: 50%;
  }