*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Oswald', sans-serif;
    /* 1rem=17px */
    font-size: 17px;
}

.section{
    padding: 100px 0;
}
/* header */
header{
    background-color: brown;
}

/* flex, flexbox CSS3: de dung
sap xep cac khoi noi dung len cung 1 hang
Cach su dung: khai bao flex o the cha gan nhat */

.header__content{
    /* dua the a va the nav len cung 1 hang */
    display: flex;
    /* justify-content: canh chinh theo chieu ngang cua flex*/
    justify-content: space-between;
    /* align-items: canh chinh theo chieu doc cua flex */
    align-items: center;
    /* Canh giua noi dung chinh ap dung theo chieu ngang man hinh:
     margin: auto
    width: <100% */
    margin: auto;
    width: 70%; 
    /* -> margin left right: 15% 15% */
    /* chua khoang trong tren duoi */
    padding: 20px 0;
}

.header__content .active{
    color: ;
}

.header__content li{
    list-style: none;
    display: inline;
    padding: 0 20px;
}

/* truoc hover */
.header__content li a{
    transition: all 1s;
}

/* sau hover */
/* chu y vi tri dat hover: con tro re toi dau thi thay doi */
/* phai goi ra den the co chua noi dung can thay doi */
.header__content li:hover a{
    color: #e72b4a;
} 
/* don vi rem: font-size, chi co noi dung chu dung font size thi dung rem, ket hop margin/padding
neu khong khai bao o body thi default 1rem = 16px */

.header__content a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}
/* C1:tao ten class de de code */
.header__content .header__logo{ 
    font-size:  1.8rem;
    text-transform: lowercase;
} 
/* C2 goi cac the a la con gan nhat cua header__content*/
/* .header__content>a{
    font-size: 32px;
    text-transform: lowercase;

} */


/* carousel */

.carousel{
    background-image: url(./image/home_slider.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* 3 thuoc tinh tren phai di kem height */
    height: 700px;
    /* canh giua voi flex, voi 1 the con duy nhat, theo chieu ngang doc */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.carousel__content>p{
    font-size: 3rem;
}
.carousel__content>h1{
    font-size: 6rem;
}

/* truoc hover */
.carousel__content button{
    padding: 15px 25px;
    background-color:#e72b4a;
    color: white;
    border: 1px solid #e72b4a ;
    cursor: pointer; 
    transition: all 1s;
}
/* transition */
/* -transition-property: thuoc tinh can thay doi
    property=all -> apply cho tat ca cac tinh nang duoc cai dat o sau hover
   -trasition-duration: khoang thoi gian thay doi hieu ung tu tu
   -transition-delay: do cho cua hieu ung chuyen doi
don vi: s, ms (1s=1000ms) */
/* transition phai de truoc hover */
/* transition: background-color 3s 3s; */

/* sau hover */
.carousel__content button:hover{
    /* de lay mau sau hover, qua f12, chon :hov-> check chon hover */
    background-color: #af2239;
    font-size: 2rem;

}

/* blog */
.blog__content{
    display: grid;
    /* khai bao cot */
    /* grid-template-columns: 100px 200px 300px 400px; */
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-columns: repeat(4,25%); */
    /* (4,1fr): co 4 cot, moi cot co kich thuoc 1/4;
       (3, 1fr): co 3 cot, moi cot co kich thuoc 1/3*/
    grid-template-columns: repeat(4,1fr);
    /* neu kich thuoc column va row bang nhau, chi can khai bao thuoc tinh columns */
    /* grid-template-rows: ; */

    /* co the dung padding de them khaoang cach */
    /* voi grid co thuoc tinh gap, them khoang cach giua cac the con */
    gap: 30px;
    /* chi dung cho grid */

    /* canh noi dung chinh giua theo chieu ngang */
    margin: auto;
    width: 70%; 
}
.blog__item img{
    width: 100%;
    height: 100%;

    /* khi hinh co gian theo the cha
    C1: img
        object-fit:cover

        ->dung cho anh can SEO, pham vi anh nho, cac anh duoc luu tru o BE

    C2: background-img
        background-size: cover
        
        -> pham vi anh lon, kich thuoc vung phu lon, cong dung lam dep website
        
     */
     object-fit: cover;

     filter: grayscale(70%) contrast(50%);
}

.blog__item1{
    /* C1: duong bat dau / duong ket thuc */
    /* grid-column: 1 / 3;
    grid-row: 1 / 3; */
    /* C2: duong bat dau / span so o can chiem*/
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.blog__item10{
    /* grid-column: 3 / 5;
    grid-row: 3 / 5; */

    grid-column: 3 / span 2;
    grid-row: 3 / span 2;

}
.blog__item{
    position: relative;
    /* che di nhung phan tran ra ngoai */
    overflow: hidden;
    color: white;
}
.blog__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(231, 43, 74, 0.5);
}

.blog__icon{
    position: absolute;
    top: 30px;
    right: 30px;
}
.blog__info{
    position: absolute;
    left: 30px;
    bottom: 30px;

}

/* truoc hover */
.blog__item .blog__icon{
    transition: all .5s;
    transform: translateY(25px);

}

/* sau hover */
.blog__item:hover .blog__icon{
    transform: translateY(0);
}

/* truoc hover */
.blog__item .blog__info{
    transition: all .5s;
    transform: translateY(25px);

}
/* sau hover */
.blog__item:hover .blog__info{
    transform: translateY(0);
}

/* truoc hover */
.blog__item .blog__overlay{
    /* an overlay */
    opacity: 0;
    transition: all .5s;
}
/* sau hover */
.blog__item:hover .blog__overlay{
    /* hien overlay */
    opacity: 1;
}

.number{
    background-color: black;
}
.number__content{
    margin: auto;
    width: 70%;
    display: flex;
    justify-content:space-between;
    color: white;
    text-align: center;

}

/* tim the p dau tien cua the number__item */
.number__item p:first-of-type{
    font-size: 60px;

}

/* tim the p cuoi cung cua the number__item */

.number__item p:last-of-type{
    font-size: 20px;

}

/* tim the dung type va thu tu 2 
    :nth-of-type(2) */
/* tim the thu tu 2
    :nth-child(2) */